* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.body {
    display: flex;
    height: 78px;
    line-height: 78px;
    gap: 400px;
}


.lang-box {
    position: relative;
    width: 140px;
    margin-top: 25px;
}

.lang-btn {
    background: white;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    width: 100px;
    height: 41px;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-align: center;
    line-height: 41px;
    font-size: 16px;
}


.lang-menu h1 {
    font-size: 15px;
    font-weight: 600;
    margin-top: -30px;
    text-align: center;
}


.lang-menu {
    width: 99px;
    height: 131px;
    background: white;
    border-radius: 14px;
    margin-top: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    visibility: hidden;
    transform: translateY(-10px);
    transition: 0.25s;
}


.lang-box:hover .lang-menu {
    visibility: visible;
    transform: translateY(0);
}


.nav-menu {
    display: flex;
    gap: 23px;
}


.search {
    color: #424242;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
}


.nav-menu button {
    width: 118px;
    height: 46px;
    background-color: white;
    color: #FFB800;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 20px 40px 0px #FFAE004A;
    box-shadow: 0px 5px 10px 0px #FFAE0042;
    font-size: 18px;
    font-weight: 700;
    margin-top: 18px;
    transition: 0.3s;
    margin-left: 20px;
}


.nav-menu button:hover {
    transform: scale(1.1);
}


.body img {
    width: 257px;
    height: 36px;
    margin-top: 20px;
    margin-left: 250px;
}